<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<script th:inline="javascript">

    window.onload = function () {
        let msg = [[${msg}]];
        let url = [[${url}]];
        let title = [[${title}]];
        let status = [[${status}]];

        Swal.fire({
            title: title,
            text: msg,
            icon: status,
            confirmButtonColor: '#58A581'
        })

        location.href = url;
    };
</script>
<body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>